body {
  font-family: sans-serif;
}

a:link {
  text-decoration: none;
}

#navbar a {
  color: white;
}

#navbar a:hover {
  color: #82a4d6;
}


.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  width: 100%;
  transition: top 0.3s;
  z-index: 10;
}

.pizzaFond img {
  width: 100%;
  min-width: 100%;
  height: auto;
  z-index: -10;
}

.jumbotron {
  text-align: center;
  background-color: #82a4d6;
  margin: 35px;
  
}

.row {
  margin: auto;
  text-align: center;
}

h2 {
  padding: 25px;
}

#newspromo {
  padding: 50px;
}

#imgHome {
  padding: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#imgHome img {
  width: 100%;
  height: 100%;
}

#goTop {
  height: 50px;
  width: 50px;
  border-radius: 35px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0.7;
  display:none;
}

#goTop:hover {
  opacity: 1;
}

/* SECTION Carte */

#carte {
  background-color: black;
  background-image: radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  color: white;
  border-radius: 15PX;
  padding-bottom: 50px;
}

.container {
  padding: 25px;
}

/* SECTION PHOTOS */

.row img {
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  height: 100%;
}

.pagination {
  width: 100px;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 25px;
}

.pagination button {
  margin-left: 10px;
  background-color: black;
  color: white;
}

.merci {
  margin: auto;
  text-align: center;
}

#bold{
  font-weight: bold;
}

.row{
  margin: 15px;
}

h3{
  color:royalblue;
}

iframe
{
width: 100%;
height: 100%;
}